# dependências
/node_modules

# Next.js
/.next/
/out/

# produção
/build

# sistema
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# variáveis locais
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
APLICAR-LANGUAGE-DEMO-V5.mjs
AUREUM-LANGUAGE-DEMO-FIX.patch
APLICAR-FIX-CPF-V3.mjs
APLICAR-FIX-CPF-V4.mjs
APLICAR-FIX-CSS-MODULES-V5.mjs
